<div style="display: flex; flex-direction: column; align-items: center;">

<h1>New Item</h1>
<%= form_with(model: @item) do |form| %>
 <div>
    <div class="input-group">
      <span class="input-group-text">Name:</span>
      <%= form.text_field :name %>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-text">Link:</span>
      <%= form.text_field :link %>
    </div>
 </div>
 <br>
  <span>
    <a href=<%= root_path %> class="btn btn-primary">Back home</a>
    
    <%= form.submit "Create item", class: "btn btn-success" %>
  </span>
<% end %>


</div>